<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Online</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<h1>定制通信套餐</h1>
<form method="POST" th:object="${design}">
    <div class="grid">
        <div class="serviceItem-group" id="data">
            <h3>选择流量包：</h3>
            <div th:each="ServiceItem : ${data}">
                <input name="serverItems" type="checkbox" th:value="${ServiceItem.id}"/>
                <span th:text="${ServiceItem.contain}">serviceItem</span><br/>
            </div>
        </div>

        <div class="serviceItem-group" id="voice">
            <h3>选择语音包：</h3>
            <div th:each="ServiceItem : ${voice}">
                <input name="serverItems" type="checkbox" th:value="${ServiceItem.id}"/>
                <span th:text="${ServiceItem.contain}">serviceItem</span><br/>
            </div>
        </div>

        <div class="serviceItem-group" id="sms">
            <h3>选择短信包：</h3>
            <div th:each="ServiceItem : ${sms}">
                <input name="serverItems" type="checkbox" th:value="${ServiceItem.id}"/>
                <span th:text="${ServiceItem.contain}">serviceItem</span><br/>
            </div>
        </div>
        <div class="serviceItem-group" id="wired-wan">
            <h3>选择宽带：</h3>
            <div th:each="ServiceItem : ${wired_wan}">
                <input name="serverItems" type="checkbox" th:value="${ServiceItem.id}"/>
                <span th:text="${ServiceItem.contain}">serviceItem</span><br/>
            </div>
        </div>
        <div class="serviceItem-group" id="free_app">
            <h3>选择定向APP：</h3>
            <div th:each="ServiceItem : ${free_app}">
                <input name="serverItems" type="checkbox" th:value="${ServiceItem.id}"/>
                <span th:text="${ServiceItem.contain}">serviceItem</span><br/>
            </div>
        </div>
    </div>

    <div>
        <h3>定制套餐名：</h3>
        <input type="text" th:field="*{name}"/>
        <span th:text="${#fields.hasErrors('name')}">XXX</span>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <button>提交套餐</button>
    </div>
</form>
</body>
</html>
