# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/codeStyles/
.idea/description.html
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/vcs.xml
HH_STUDY.iml
#src/
out
studentIndo.txt
