<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lihang.dynamicdatasource.springboot.mapper2.AdminMapper">
    <select id="getAllUsers" resultType="com.lihang.dynamicdatasource.User">
        select username,password from admin;
    </select>
</mapper>