<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatiable" content="ie=edge">
        <title>自定义全局组件</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <navbar></navbar>
        </div>
        <script>
            //1.全局定义组件
            Vue.component("navbar",{
                template: `
                    <div style="background:pink;">
                        <button @click="handleClick">返回</button>
                        navbar
                        <button>主页</button>
                    </div>
                `,
                methods: {
                    handleClick(){
                        alert("返回")
                    }
                }

            })
            var app = new Vue({
                el: "#app"
            });
        </script>
    </body>
</html>