.home {
    background-color: #10aeb5;
    height: calc(100vh);
    h1 {
        color: #ffffff;
        text-align: center;
        padding-top: 80px;
    }
    .wrap {
        width: 600px;
        border-radius: 10px;
        background-color: #ffffff;
        margin: 0 auto;
        padding: 20px 20px 50px;
        .nav {
            color: #000000;
            border-bottom: 1px solid lightgray;
            margin-bottom: 30px;
            line-height: 50px;
            a {
                color: #000000;
                display: inline-block;
                width: 25%;
                text-align: center;
                font-size: 20px;
                &.checked {
                    color: #10aeb5;
                    font-weight: bold;
                }
            }
        }
        p {
            text-align: left;
            color:lightgray;
            font-size: 18px;
        }
        .nav-link {
            display: inline-block;
            margin-top: 30px;
        }
    }
}
